form{
   
    
    text-align: left;
    
}

h1{
    text-decoration: underline;
}
.container{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
body{
    text-align: center;
    background-color:turquoise;
}
fieldset{
    
    border-color: black;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}
.container2{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    
}
input[type=text],input[type=password],input[type=tel],input[type=url],
input[type=email],input[type=date],input[type=number]    {
    background-color: turquoise;
    border: none;
    border-bottom: 2px solid black;
}
input[type=text]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=url]:focus,
input[type=email]:focus,input[type=date]:focus,input[type=number]:focus{
  
    outline: none;
}
input[type=text]:active,input[type=password]:active,input[type=tel]:active,input[type=url]:active,
input[type=email]:active,input[type=date]:active,input[type=number]:active{
  
    outline: none;
}
.enviar{
    transform: translate(40%);
    padding: 5%;
}
textarea{
    background-color: rgb(149, 240, 231);
}
textarea:focus{
    outline: none;
}
